@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

html {
  font-size: 62.5%;
}

.menu {
  position: fixed;
  top: 20px;
  left: 20px;
  cursor: pointer;
  display: flex;
}

.scrollable {
  overflow-y: auto;
  scrollbar-width: none; /* oculta a barra de rolagem no Firefox */
  -ms-overflow-style: none; /* oculta a barra de rolagem no Internet Explorer e Edge */
}

/* Oculta a barra de rolagem no Chrome, Safari e Opera */
.scrollable::-webkit-scrollbar {
  display: none;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 5px;
}

.dot:nth-child(1) {
  background-color: red;
}

.dot:nth-child(2) {
  background-color: yellow;
}

.dot:nth-child(3) {
  background-color: green;
}


:root {
  --container-height: 90%;
  --container-width: 90%;
  --component-background: rgba(0, 0, 0, 0.45);
}

body {
  background: url("https://4kwallpapers.com/images/wallpapers/macos-big-sur-apple-layers-fluidic-colorful-dark-wwdc-2020-3840x2160-1432.jpg");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.modal-content {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 50%; /* Centraliza horizontalmente */
  top: 50%; /* Centraliza verticalmente */
  transform: translate(-50%, -50%); /* Move o modal para o centro */
  width: 50%; /* Defina a largura desejada do modal */
  max-width: 1200px; /* Defina a largura máxima do modal, se desejar */
  background-color: rgba(253, 251, 251, 0.4);
  overflow: auto;
  padding: 20px;
  border-radius: 10px;
  text-align: center; /* Centraliza o conteúdo dentro do modal */
}

.modal-content > div{
  display: none;
}

.modal-content > div:nth-child(14){
  display: none;
}

.modal-content form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza os elementos horizontalmente */
}
.modal-content label {
  font-size: 16px; /* Altere o tamanho da fonte conforme desejado */
}
.modal-content input,
.modal-content button {
  display: block; /* Faz com que os elementos fiquem um abaixo do outro */
  margin-bottom: 15px; /* Espaçamento entre os elementos */
}

.modal-content span {
  color: #fff; /* Cor da fonte do conteúdo do modal */
  position: absolute; /* Posiciona o conteúdo de forma absoluta */
  top: 50%; /* Alinha o conteúdo ao centro verticalmente */
  left: 50%; /* Alinha o conteúdo ao centro horizontalmente */
  transform: translate(-50%, -50%); /* Move o conteúdo para o centro */
}

.failiade-to-fetch-message {
  display: none;
}

.modal-content .close {
  color: #fff;
  position: absolute;
  top: 20px;
  right: 70px; 
  font-size: 30px;
  cursor: pointer;
}

@mixin windowButton($color) {
  width: 1.5rem;
  height: 1.5rem;
  background: $color;
  display: inline-block;
  border-radius: 50%;
  transition: 0.3s ease;
  &:hover {
    transform: scale(1.2);
  }
}

.container {
  background: rgba(0, 0, 0, 0.2);
  transition: 0.3s ease;
  backdrop-filter: blur(30px);
  border-radius: 15px;
  width: var(--container-width);
  height: var(--container-height);
  position: relative;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 30px;
  position: relative;
}

section.window--buttons {
  position: absolute;
  top: 15px;
  left: 15px;
  .window__close {
    @include windowButton(#f00);
  }

  .window__minimize {
    margin-left: 5px;
    @include windowButton(#f57c00);
  }

  .window__maximize {
    margin-left: 5px;
    @include windowButton(#4caf50);
  }
}

aside {
  overflow: hidden;
  height: 90%;
  margin-top: 20px;
  float: left;
  width: 200px;
  position: sticky;
  top: 0;
  button {
    display: block;
    margin-top: 7px;
    margin-left: 15px;
    padding: 0.7rem 4rem;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    background: none;
    width: 170px;
    border-radius: 10px;
    border: 0;
    color: white;
    transition: 0.2s ease;
    cursor: pointer;
    &:hover {
      background: rgba(0, 0, 0, 0.55);
      backdrop-filter: blur(20px);
    }
    &.active {
      background: rgba(0, 0, 0, 0.55);
      backdrop-filter: blur(20px);
    }
  }
  input[type="text"] {
    font-size: 1.5rem;
    width: 170px;
    margin-left: 15px;
    padding: 0.9rem;
    border-radius: 10px;
    background: #000;
    color: #fff;
    font-family: "Poppins", sans-serif;
    border: 0;
    outline: 0;
    text-align: center;
    transition: 0.3s ease;
    background: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: white;
    &::-webkit-input-placeholder {
      text-align: center;
    }
    &:-moz-placeholder {
      /* Firefox 18- */
      text-align: center;
    }
    &::-moz-placeholder {
      /* Firefox 19+ */
      text-align: center;
    }
    &:-ms-input-placeholder {
      text-align: center;
    }
  }
  .profile {
    position: absolute;
    left: 15px;
    display: flex;
    bottom: 15px;
    align-items: center;
    .profile--pic {
      width: 4rem;
      border-radius: 50%;
    }
    h1 {
      color: #fff;
      font-weight: 400;
      margin-left: 10px;
      font-size: 1.3rem;
    }
  }
}

.content {
  color: white;
  padding: 15px;
  border-radius: 30px;
  height: 90%;
  margin-right: 20px;
  overflow: hidden;
  .ideas {
    display: flex;
    .idea {
      background: var(--component-background);
      width: 50%;
      padding: 20px;
      border-radius: 20px;
      backdrop-filter: blur(20px);
      transition: 0.3s ease;
      &:nth-of-type(2) {
        margin-left: 15px;
      }
      p {
        color: gray;
        font-size: 1.2rem;
      }
      &:hover {
        transform: scale(1.06);
      }
    }
  }

  .updates {
    margin-top: 20px;
    overflow-y: auto; /* Permite a rolagem vertical */
    max-height: 73%; /* Define a altura máxima para a rolagem */
  }

  .update {
    width: 100%;
    background: var(--component-background);
    padding: 1.3rem 0.7rem;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.7s ease;
    &:hover {
      transform: scale(0.97);
    }
    .updt-left {
      display: flex;
      align-items: center;
      h1 {
        font-size: 1.7rem;
        margin-left: 10px;
      }

      img {
        width: 35px;
      }
    }

    .buttons {
      button {
        background: none;
        color: dodgerblue;
        border: 0;
        font-size: 1.6rem;
        transition: 0.2s ease;
        cursor: pointer;
        font-family: "Poppins", sans-serif;
        &:hover {
          color: blue;
        }
      }
    }
  }

  .trending {
    margin-top: 20px;
    h1:nth-last-of-type(1) {
      font-size: 2.2rem;
    }

    .grid {
      display: grid;
      grid-template-rows: repeat(4, 25%);
      grid-template-columns: 25% 25% 25% 25%;
      margin-top: 10px;
      gap: 5px;
      .grid__app {
        background: var(--component-background);
        padding: 13px;
        display: inline-block;
        display: flex;
        height: fit-content;
        border-radius: 10px;
        justify-content: space-between;
        &.margin {
          margin-top: 20px;
        }
        h1 {
          font-size: 1.7rem;
        }
        button {
          background: dodgerblue;
          color: #fff;
          border: 0;
          outline: 0;
          border-radius: 30px;
          width: 30%;
          cursor: pointer;
        }
      }
    }
  }

  .links {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
    a {
      text-align: center;
      color: #fff;
      font-size: 1.4rem;
      &:nth-of-type(3),
      &:nth-of-type(4) {
        margin-top: 7px;
      }
    }
  }
}

@media (max-width: 768px) {
  .content .trending .grid {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(4, 25%);
  }
  aside {
    display: none;
  }

  .links {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
  }
}

form {
  display: none;
  background: rgba(255, 255, 255, 0.1); /* torna o fundo do formulário transparente */
  padding: 3em;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  transition: all 0.2s ease-in-out;
  margin: 50px auto 0 15px; /* centraliza o formulário horizontalmente */
}

form label {
  color: rgb(0, 0, 0); /* define a cor do texto dos rótulos */
  font-size: 18px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form button {
  display: block;
  margin: 10px auto; /* centraliza os campos e o botão verticalmente */
  padding: 10px; /* ajusta o espaçamento interno */
  width: 90%; /* define a largura dos campos de entrada e do botão */
  border-radius: 50px; /* arredonda as bordas */
  border: none; /* remove a borda */
  background: rgba(240, 0, 0, 0.1); /* torna o fundo dos campos de entrada transparente */
  color: white; /* define a cor do texto */
  font-size: 16px; /* define o tamanho da fonte */
}

form button {
  cursor: pointer; /* altera o cursor ao passar sobre o botão */
  background-color: #171817; /* define a cor de fundo do botão */
  transition: background-color 0.3s; /* adiciona uma transição suave */
}

form button:hover {
  background-color: #45a049; /* altera a cor de fundo do botão ao passar o mouse sobre ele */
}

.user-form {
  background-color: transparent; /* Torna o formulário transparente */
  padding: 2em; /* Adiciona um espaçamento interno */
  border-radius: 20px; /* Arredonda as bordas */
  backdrop-filter: blur(10px); /* Aplica um efeito de desfoque no fundo */
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra */
  text-align: center; /* Centraliza o conteúdo */
  position: relative; /* Posicionamento relativo */
  transition: all 0.2s ease-in-out; /* Transição suave */
  margin: 160px auto 0; /* Centraliza o formulário horizontalmente */
  width: 100%; /* Define a largura do formulário em porcentagem */
  max-width: 1000px; /* Define a largura máxima do formulário */
}

.user-form input[type="firstName"],
.user-form input[type="lastName"],
.user-form button {
  display: block; /* Exibe como bloco para ocupar a largura total */
  margin: 10px auto; /* Centraliza verticalmente */
  padding: 10px; /* Adiciona um preenchimento interno */
  width: 90%; /* Define a largura dos campos de entrada e do botão em porcentagem */
  border-radius: 5px; /* Arredonda as bordas */
  border: none; /* Remove a borda */
  background: rgba(240, 0, 0, 0.1); /* Torna o fundo dos campos de entrada transparente */
  color: white; /* Define a cor do texto */
  font-size: 16px; /* Define o tamanho da fonte */
}

.user-form button {
  cursor: pointer; /* Altera o cursor ao passar sobre o botão */
  background-color: #171817; /* Define a cor de fundo do botão */
  transition: background-color 0.3s; /* Adiciona uma transição suave */
}

.user-form button:hover {
  background-color: #45a049; /* Altera a cor de fundo do botão ao passar o mouse sobre ele */
}

.profile-button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  width: 40px; /* Define a largura desejada */
}

.profile--pic {
  width: 40px; /* Largura da imagem do perfil */
  height: 40px; /* Altura da imagem do perfil */
  border-radius: 50%; /* Torna a imagem do perfil circular */
}
